<!DOCTYPE html>
<html>
<head>
  <title>Hotel Grand Inn - Room Types</title>
</head>
<body>
  <header>
    <h1>Welcome to Hotel Grand Inn</h1>
  </header>

  <section id="room-types">
    <h2>Our Room Types</h2>
    <div class="room">
      <img src="src\assets\images\single r00m.jpg" alt="Single">
      <h3>Single Room</h3>
      <p>Spacious room with separate single beds, modern amenities, and a beautiful city view.</p>
    </div>
    <div class="room">
      <img src="src\assets\images\luxury accomadation.jpg" alt="Double">
      <h3>Double Room</h3>
      <p>Elegant room with a comfortable bed , luxurious furnishings, and personalized services.</p>
    </div>
    <div class="room">
      <img src="src\assets\images\room 1.jpg" alt="Suite">
      <h3>Suite</h3>
      <p>Luxurious suite offering a private balcony, stunning ocean view, and exclusive access to the spa.</p>
    </div>
  </section>

  <footer>
    <p>&copy; 2023 Hotel Grand Inn. All rights reserved.</p>
  </footer>
</body>
</html>

