body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  section {
    padding: 30px;
    text-align: center;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input {
    width: 300px;
    height: 40px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 200px;
    height: 40px;
    background-color: #00b0b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }
  